@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
}

#features .section__title,
#pricing .section__title {
    text-align: center;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

main {
    margin-bottom: 96px;
}

a {
    text-decoration: none;
    display: inline;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

button {
    cursor: pointer;
    border: none;
}

/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}

.btn__menu {
    display: none;
    background-color: transparent;
    text-align: center;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}


.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: absolute;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
    max-width: 480px;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__img {
    width: 100%;
    max-width: 768px;
}


/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
}

.service__description {
    display: flex;
    padding: 32px 24px;
    align-items: flex-start;
}

.service__description--para {
    margin-top: 8px;
    margin-left: 16px;
}

.service__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.service__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.service__img {
    width: 24px;
    height: 24px;
}


/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description,
.quality__img--wrapper {
    width: 48%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

#quality .section__title {
    line-height: 1.25;
}

#quality .btn {
    margin-top: 32px;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 1;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__description,
.steps__img--wrapper {
    width: 48%;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description,
.values__img--wrapper {
    width: 48%;
}

.values__description {
    padding: 32px 64px 32px 0;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
    line-height: 1.25;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.value--primary {
    margin-right: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__title__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.green {
    background-color: #9ae6b4;
}

.red {
    background-color: #feb2b2;
}

.value__title__img {
    width: 20px;
    height: 20px;
    color: black;
}

.value__title--text {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

#values .btn {
    margin-top: 48px;
}

/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.plan {
    width: calc(100%/3);
    max-width: 384px;
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(229, 231, 235);
    border-radius: 8px;
    background-color: rgb(255 255 255);
    text-align: center;
    margin-top: 64px;
    padding: 32px 0;
    padding-top: 8px;
    margin-right: 32px;
    text-align: center;
    color: rgb(26 32 44);
    position: relative;
}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.625;
}

.plan__middle {
    display: flex;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 32px;
}

.plan__bottom {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.plan__name {
    font-size: 20px;
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan:nth-child(odd) .plan__name, .plan:nth-child(odd) .plan__price, .plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 1.6px;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__button {
    border-radius: 9999px;
    background-color: rgb(100, 21, 255);
    padding: 12px 32px;
    margin-top: 16px;
    font-weight: 700;
    color: rgb(247 250 252);
    width: 100%;
    max-width: 192px;
    font-size: 14px;
    letter-spacing: 0.7px;
}


/* 

TESTIMONIALS ↓

*/

#testimonials .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

#testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 16px;
    font-size: 20px;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile,
.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 20px;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__title, .start__buttons {
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
}

.start__button:nth-child(1) {
    background: #f56565;
    margin-right: 32px;
    transition: all 300ms ease;
}

.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }

    header .row {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: calc(100%/2);
    }

    .plans {
        justify-content: center;
    }

    footer {
        padding: 80px 32px;
    }

    .header__row {
        flex-direction: column;
        align-items: center;
    }
    .header__description {
        width: 80%;
        align-items: center;
    }
    h1 {
        text-align: center;
        font-size: 36px;
    }
    .header__description--para {
        text-align: center;
    }
    .header__customers {
        padding: 0;
    }
    .header__customers--title {
        margin-top: 40px;
    }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES  */

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
    .container {
        padding: 48px 0;
    }
    .header__description {
        width: 100%;
        align-items: center;
        padding: 24px;
    }
    h1 {
        text-align: center;
        font-size: 36px;
    }
    .header__description--para {
        text-align: center;
    }
    .header__customers {
        padding: 0;
    }
    .header__customers--title {
        margin-top: 40px;
    }
    .quality__img--wrapper {
        display: none;
    }
    .quality__description {
        width: 100%;
        max-width: none;
        margin: 0;
    }
    .steps__img--wrapper {
        display: none;
    }
    .steps__description {
        width: 100%;
        max-width: none;
        padding: 0;
        text-align: center;
    }
    .step {
        align-items: center;
        justify-content: center;
    }
    .section__title {
        font-size: 36px;
    }
    .values__img--wrapper {
        display: none;
    }
    .values__description {
        width: 100%;
        max-width: none;
        padding: 0;
    }
    .start__title {
        font-size: 24px;
    }
}

/* SMALL PHONES, LARGE SMARTPHONES  */

@media(max-width: 550px) {
    .container {
        padding: 48px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
    .service {
        width: 100%;
    }
    .plans {
        justify-content: space-evenly;
    }
    .plan__price {
        font-size: 24px;
    }
    .plan__target {
        font-size: 12px;
    }
    .testimonials__img--wrapper {
        display: none;
    }
    .testimonials__description {
        padding-left: 0;
    }
    .start__container {
        flex-direction: column;
        padding: 48px 32px;
    }
    .start__buttons {
        justify-content: center;
    }

    .start__title {
        display: none;
    }

    .footer__bottom {
        flex-direction: column;
    }

    .footer__logo {
        margin-bottom: 24px;
    }
    .footer__copyright {
        margin-bottom: 24px;
    }
}